.hide{
    display: none;
}
body{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
img{
    width: 30px;
    height: 30px;
    
}
.um{
    animation: move 5s linear forwards;
}
.dois{
    animation: move 5s linear forwards;
}

@keyframes move {
    0%   { top: 0px; left: 0px; transform: translate(0, 0); }
    /*12.5%   { top: 0px; left: 50%; transform: translate(-50%, 0); }*/
    25%  { top: 0px; left: 0%; transform: translate(50%, 0) }
    37.5%  { top: 0%; left: 0%; transform: translate(0%, 0%) }
    /*50%   { top: 50%; left: 50%; transform: translate(-50%, -50%); }*/
    62.5%  { top: 0%; left: 0px; transform: translate(0, 0%) }
    75%  { top: 0%; left: 0px; transform: translate(0, 0%) }
    /*87.5%   { top: 100%; left: 50%; transform: translate(-50%, -100%); }*/
    100% { top: 0%; left: 100%; transform: translate(0%, 0%) }
  }